.navbar{
    position: fixed !important;
    top: 0 !important;
}

.custom-file-input::file-selector-button {
    background-color: #7749f8 !important;
    color: white !important;
    padding: 0.5rem 1rem !important;
    cursor: pointer !important;
}

.custom-file-input::file-selector-button:hover {
    background-color: #6128ff !important;
}


.my-box-shadow{
    box-shadow: 0px 0px 7px 0px #00000040 !important;
}

.input-bordered{
    border-color: #56585c6b !important;
}